/* Landing image */
.hero-image {
    /* The image used */
    background-image: url("../img/cover-img.jpg");

    /* Set a specific height */
    height: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* Text align */
    text-align: center;
    
}